<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" , initial-scale="1">
  <title>추몽</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/codingBooster.css">
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</head>

<body>
<p class="text-center"><a class="btn btn-primary btn-lg" href="admin/member/list" role="button">회원 관리</a></p>
<p class="text-center"><a class="btn btn-primary btn-lg" href="admin/item/list" role="button">아이템 관리</a></p>
<p class="text-center"><a class="btn btn-primary btn-lg" href="noticeForm" role="button">공지사항 관리</a></p>
</body>
</html>