<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" , initial-scale="1">
  <title>추몽</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/codingBooster.css">
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block> <!-- 헤더 연동 -->
<h1>공지 목록</h1>
<table>
  <thead>
  <tr>

  </tr>
  </thead>
  <tbody>
  <tr th:each="notice : ${noticeList}">
    <td th:text="${notice.noticeTitle}"></td>
    <td th:text="${notice.noticeDate}"></td>
    <td>
      <form th:action="@{/admin/notice/delete}" method="post">
        <input type="hidden" name="noticeId" th:value="${notice.noticeId}" />
        <input type="submit" value="삭제" />
      </form>
    </td>
  </tr>
  </tbody>
</table>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>
