<!DOCTYPE html>
<html xmlns:th="http://www.thynmeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" , initial-scale="1">
<title>추몽</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href=" /css/codingBooster.css">
<link rel="stylesheet" href=" /css/list.css">

	<script>

        window.addEventListener('load', function() {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function(el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        });


    </script>
</head>

<body>



<style type="text/css">
.jumbotron {
	background-image: url('../image/');
	text-shadow: black 0.2em 0.2em 0.2em;
	color: white;
}
</style>
<div data-include-path="header"></div>

<h1><b> 카테고리 설정 </b></h1>
	<div class = "item_list">
	<div class = "container">
	
	<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
	
	</div>
	</div>

<div data-include-path="footer"></div>
</body>
</html>