<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" , initial-scale="1">
	<title>추몽</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/codingBooster.css">
	<link rel="stylesheet" href="/css/list.css">
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.js"></script>

</head>

<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block> <!-- 헤더 연동 -->


<style type="text/css">
.jumbotron {
	background-image: url('../image/');
	text-shadow: black 0.2em 0.2em 0.2em;
	color: white;
}
</style>
<div data-include-path="header"></div>

<h1><b> 카테고리 설정 </b></h1>
<div class = "item_list">
	<div class = "container">


		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
			<div class = "mcard-imagebin"></div>
			<div class = "mcard-text">
				<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
				<p>일러스트 작가 그림그림</p>
			</div>
			<div class = "mcard-stats"></div>
		</div>

		 <tr th:each="item: ${itemList}">

			<div class = "mcard" style="cursor: pointer;" onclick = "location.href='itemDtl2/${item.itemImage1}'">
				<div class = "mcard-itemimage">
					<img th:src="${item.itemImage1}" alt="item image" style="width: 100%; height: auto; border-radius: 7px;">
				</div>
				<div class = "mcard-text">
					<h4 class = "card-Name" th:text="${item.itemName}"></h4>
					<p class = "card-Content1" th:text="${item.itemContent1}"></p>
				</div>
				<div class = "mcard-stats"></div>
			</div>
	</tr>

	</div>
</div>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>