<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <title>추몽</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/codingBooster.css">

    <style type="text/css">
.jumbotron {
	background-image: url('../image/coffee.jpg');
	text-shadow: black 0.2em 0.2em 0.2em;
	color: white;
           }
    </style>
</head>
<body>
<footer style="background-color: #000000; color: #ffffff">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-2" style="text-align: center;">
                <h5>Copyright &copy; 2022</h5>
                <h5>추명호,윤성기,최혜빈,홍상현</h5>
            </div>
            <div class="col-sm-4">
                <h4>사이트 소개</h4>
                <p>사이트 설명을 입력해주세요 태권도짱</p>
            </div>
            <div class="col-sm-2">
                <h4 style="text-align: center;">내비게이션</h4>
                <div class="list-group">
                    <a href="Main.html" class="list-group-item">소개</a> <a
                        href="instructor.html" class="list-group-item">강사진</a> <a
                        href="lecture.html" class="list-group-item">강의</a>
                </div>
            </div>
            <div class="col-sm-2">
                <h4 style="text-align: center;">SNS</h4>
                <div class="list-group">
                    <a href="https://ko-kr.facebook.com/" class="list-group-item">페이스북</a>
                    <a href="https://www.youtube.com/" class="list-group-item">유튜브</a>
                    <a href="https://www.naver.com/" class="list-group-item">네이버</a>
                </div>
            </div>
            <div class="col-sm-2">
                <h4 style="text-align: center;">
                    by 추명호
                </h4>
            </div>
        </div>
    </div>
</footer>
<div class="row">
    <div class="modal" id="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    추몽의 특징
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    저희 서비스의 특징은 바로 강의를 들을 수 있다는 점입니다. <br> 특히 다양한 무료 강의가 유튜브와
                    연동되어 제공됩니다. <br>
                    <br> <img src="/static/image/yun00.png"
                              id="imagepreview" style="width: 256px; height: 256px;">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>