<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action ="itemon" method = "post">
    상품 이름 : <input type = "text" name = "itemName"><br>
    상품 가격 : <input type = "number" name = "itemPrice"><br>
    상품 이미지 주소 : <input type = "text" name = "itemImage"><br>
    상품 동영상 주소 : <input type = "text" name = "itemVideo"><br>
    상품 설명 1 : <input type = "text" name = "itemContent1"><br>
    상품 설명 2(상세) : <input type = "text" name = "itemContent2"><br>
    상품 대카데고리 : <input type = "text" name = "itemCategory1"><br>
    상품 중카테고리 : <input type = "text" name = "itemCategory2"><br>
    상품 소카테고리 : <input type = "text" name = "itemCategory3"><br>
   <!-- 등록자 이름 : <input type = "text" name = "membername"><br> -->
    <input type = "submit" value = "등록">

</form>
</body>
</html>