<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" , initial-scale="1">
	<title>추몽</title>
	<link rel="stylesheet" href=" /css/itemDtl.css">
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src=" /js/bootstrap.js"></script>
	<!-- 'header' 과 'footer' 불러오는 script-->

</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<h3><a href="Main" class="" th:text="${item.itemCategory2}" ></a> >
<a href="instructor" class="" th:text="${item.itemCategory3}"></a></h3>

<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
	<iframe style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 1280px; height: 720px; margin: 0 auto;" th:src="${item.itemVideo}"></iframe>
</div>


<section class="product_info">
	<h2 class="hidden">product_info</h2>
	<div class="container">
		<div class="row">
			<div class="product_pictures col-md-7">
				<img th:src="${item.itemImage1}" alt="cat" class="big_img" id="bigImg" style="width: 580px; height: 440px; margin-left: 17px;">
				<ul class="thumb_img">
					<a data-target="#modal1" data-toggle="modal">
					<li class="active"><img th:src="${item.itemImage1}" data-target="cote_big_1" alt="" class="thumb" style="width: 140px; height: 90px;"></li></a>
					<a data-target="#modal2" data-toggle="modal">
						<li><img th:src="${item.itemImage2}" data-target="cote_big_2" alt="" class="thumb" style="width: 140px; height: 90px;"></li></a>
					<a data-target="#modal3" data-toggle="modal">
						<li><img th:src="${item.itemImage3}" data-target="cote_big_3" alt="" class="thumb" style="width: 140px; height: 90px;"></li></a>
					<a data-target="#modal4" data-toggle="modal">
						<li><img th:src="${item.itemImage4}" data-target="cote_big_4" alt="" class="thumb" style="width: 140px; height: 90px;"></li></a>
				</ul>
				<div class="left_2">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">서비스 설명</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">서비스 평가</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="droduct_specs col-md-5">
				<h3><span class="name" th:text = "${item.itemName}"></span></h3>
				<form action="">
					<hr/>
					<div class="option order_summary row justify-content-between">
						<span class="price" th:text = "${item.itemPrice} + '원 (VAT 포함)'"></span>
						<p class = "" th:text="${item.itemContent2}"></p>
						<hr/>
					</div>
				</form>
				<session class="order_now">

					<a th:href="@{|/order/${item.id}|}">
						<button>구매하기</button>
					</a>

				</session>
			</div>
		</div>
	</div>
</section>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

<div class = "row">
	<div class = "modal" id = "modal1" tabindex="-1">
		<div class = "modal-dialog modal-lg">
			<div class = "modal-content">
			<!--	<div class = "modal-header">
					<button class = "close" data-dismiss="modal">&times;</button>
				</div> -->
				<div class = "modal-body" style = "text-align: center;">
					<img th:src = "${item.itemImage1}" id = "itemimage1" style = "width: 870px; height: 630px; border-radius: 7px;">
				</div>
			</div>
		</div>
	</div>

	<div class = "modal" id = "modal2" tabindex="-1">
		<div class = "modal-dialog modal-lg">
			<div class = "modal-content">
				<div class = "modal-body" style = "text-align: center;">
					<img th:src = "${item.itemImage2}" id = "itemimage2" style = "width: 870px; height: 630px; border-radius: 7px;">
				</div>
			</div>
		</div>
	</div>

	<div class = "modal" id = "modal3" tabindex="-1">
		<div class = "modal-dialog modal-lg">
			<div class = "modal-content">
				<div class = "modal-body" style = "text-align: center;">
					<img th:src = "${item.itemImage3}" id = "itemimage3" style = "width: 870px; height: 630px; border-radius: 7px;">
				</div>
			</div>
		</div>
	</div>

	<div class = "modal" id = "modal4" tabindex="-1">
		<div class = "modal-dialog modal-lg">
			<div class = "modal-content">
				<div class = "modal-body" style = "text-align: center;">
					<img th:src = "${item.itemImage4}" id = "itemimage4" style = "width: 870px; height: 630px; border-radius: 7px;">
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>