<!DOCTYPE html>
<html xmlns:th="http://www.thynmeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" , initial-scale="1">
<title>추몽</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/codingBooster.css">
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script> <!-- 헤더 열리게 -->
	<script src="/static/js/bootstrap.js"></script> <!-- 헤더 열리게 -->
	<script>

        window.addEventListener('load', function() {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function(el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        });


    </script>
</head>

<body>
 <div data-include-path="header.html"></div>
	<style type="text/css">

.jumbotron {
     background-image: url('https://www.jeongdong.or.kr/static/portal/img/HKPU_04_04_pic1.jpg');
    	text-shadow: black 0.2em 0.2em 0.2em;
    	color: white;
    }
</style>

	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">추몽을 소개합니다.</h1>
			<p class="text-center">추몽은 프리랜서 마켓입니다. 다양한 서비스 및 교육/강의가 존재합니다.
			<p class="text-center">
				<a class="btn btn-primary btn-lg" href="Slist.html" role="button">추몽
					시작하기</a>
			</p>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<h4>추몽의 특징</h4>
				<p>추몽은 다른 사이트와 차원이 다른 깔끔한 구성을 보여줍니다. 모든 페이지가 사용자가 접근하고 읽기 쉽도록
					정교하게 구성되었습니다.</p>
				<p>
					<a class="btn btn-default" data-target="#modal" data-toggle="modal">자세히
						알아보기</a>
				</p>
			</div>
			<div class="col-md-4">
				<h4>폭넓은 강사진</h4>
				<p>추몽은 정말 뛰어난 전문가만을 강사진으로 뽑습니다. 각각의 강사진은 현직 전문가로서 추몽을 처음 접하는
					학생에게 친절하게 알려줍니다.</p>
				<p>
					<a class="btn btn-default" href="instructor.html">자세히 알아보기</a>
				</p>
			</div>
			<div class="col-md-4">
				<h4>핵심적인 강의</h4>
				<p>추몽은 실제 개발에 있어 반드시 필요한 핵심적인 내용을 중심을 다룹니다. 강의를 듣는 시간 내내 요약된 정보를
					온전히 받아들일 수 있습니다.</p>
				<p>
					<a class="btn btn-default" href="lecture.html">자세히 알아보기</a>
				</p>
			</div>
		</div>
		</div>
		<hr>
		<h2><b>&nbsp;&nbsp;최신 강의/교육</b></h2>
		<div class = "container">
		<div class = "card" style="cursor: pointer;" onclick="location.href='itemDtl.html'">
		<div class = "card-imagebin"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">드로잉</span> <span class="badge">일러스트</span>
		<h3>기초 도형으로 쉽게 접근하는 드로잉</h3>
		<p>기초 도형으로 인체 드로잉의 깊이감을 이해한 후, 쪼개고 변형하는
과정을 통해 그림의 입체감과 깊이감을 살리는 법을 알려드리겠습니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		
		<div class = "card">
		<div class = "card-imagehan"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">음악</span> <span class="badge">악기연주</span>
		<h3>피아노 초보, 혼자서도 도전 할 수 있습니다.</h3>
		<p>20년 경력으로 피아노 입문시부터 필요한 연습곡과 연주시 필요한
		손목 사용꿀팁, 간단한 이론으로 실전에 강력한 연주방법을 알려드리겠습니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		<div class = "card">
		<div class = "card-imageyun"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">스포츠</span> <span class="badge">태권도</span>
		<h3>태권도 AZ까지 알려드립니다. 초보자 대환영 드립니다.</h3>
		<p>여러 운동을 해봤지만 아직 자신과의 싸움에서 승리의 깃발을 들지 못하신분?
		꼭 도전해보시기 바랍니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		</div>
	
	<hr>
		<h2><b>&nbsp;&nbsp;인기 강의/교육</b></h2>
		<div class = "container">
		<div class = "card">
		<div class = "card-imagebin"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">드로잉</span> <span class="badge">일러스트</span>
		<h3>기초 도형으로 쉽게 접근하는 드로잉</h3>
		<p>기초 도형으로 인체 드로잉의 깊이감을 이해한 후, 쪼개고 변형하는
과정을 통해 그림의 입체감과 깊이감을 살리는 법을 알려드리겠습니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		<div class = "card">
		<div class = "card-imagehan"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">음악</span> <span class="badge">악기연주</span>
		<h3>피아노 초보, 혼자서도 도전 할 수 있습니다.</h3>
		<p>20년 경력으로 피아노 입문시부터 필요한 연습곡과 연주시 필요한
		손목 사용꿀팁, 간단한 이론으로 실전에 강력한 연주방법을 알려드리겠습니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		<div class = "card">
		<div class = "card-imageyun"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">스포츠</span> <span class="badge">태권도</span>
		<h3>태권도 AZ까지 알려드립니다. 초보자 대환영 드립니다.</h3>
		<p>여러 운동을 해봤지만 아직 자신과의 싸움에서 승리의 깃발을 들지 못하신분?
		꼭 도전해보시기 바랍니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		</div>
		
		<hr>
		<h2><b>&nbsp;&nbsp;최신 작업</b></h2>
		<div class = "container">
		<div class = "card">
		<div class = "card-imagebin"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">드로잉</span> <span class="badge">일러스트</span>
		<h3>기초 도형으로 쉽게 접근하는 드로잉</h3>
		<p>기초 도형으로 인체 드로잉의 깊이감을 이해한 후, 쪼개고 변형하는
과정을 통해 그림의 입체감과 깊이감을 살리는 법을 알려드리겠습니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		<div class = "card">
		<div class = "card-imagehan"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">음악</span> <span class="badge">악기연주</span>
		<h3>피아노 초보, 혼자서도 도전 할 수 있습니다.</h3>
		<p>20년 경력으로 피아노 입문시부터 필요한 연습곡과 연주시 필요한
		손목 사용꿀팁, 간단한 이론으로 실전에 강력한 연주방법을 알려드리겠습니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		<div class = "card">
		<div class = "card-imageyun"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">스포츠</span> <span class="badge">태권도</span>
		<h3>태권도 AZ까지 알려드립니다. 초보자 대환영 드립니다.</h3>
		<p>여러 운동을 해봤지만 아직 자신과의 싸움에서 승리의 깃발을 들지 못하신분?
		꼭 도전해보시기 바랍니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		</div>
		
		<hr>
		<h2><b>&nbsp;&nbsp;인기 작업</b></h2>
		<div class = "container">
		<div class = "card">
		<div class = "card-imagebin"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">드로잉</span> <span class="badge">일러스트</span>
		<h3>기초 도형으로 쉽게 접근하는 드로잉</h3>
		<p>기초 도형으로 인체 드로잉의 깊이감을 이해한 후, 쪼개고 변형하는
과정을 통해 그림의 입체감과 깊이감을 살리는 법을 알려드리겠습니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		<div class = "card">
		<div class = "card-imagehan"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">음악</span> <span class="badge">악기연주</span>
		<h3>피아노 초보, 혼자서도 도전 할 수 있습니다.</h3>
		<p>20년 경력으로 피아노 입문시부터 필요한 연습곡과 연주시 필요한
		손목 사용꿀팁, 간단한 이론으로 실전에 강력한 연주방법을 알려드리겠습니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		<div class = "card">
		<div class = "card-imageyun"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">스포츠</span> <span class="badge">태권도</span>
		<h3>태권도 AZ까지 알려드립니다. 초보자 대환영 드립니다.</h3>
		<p>여러 운동을 해봤지만 아직 자신과의 싸움에서 승리의 깃발을 들지 못하신분?
		꼭 도전해보시기 바랍니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		</div>

	<div data-include-path="footer.html"></div>

</body>
</html>