<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" , initial-scale="1">

<title>추몽</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/codingBooster.css">
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script> <!-- 헤더 열리게 -->
	<script src="/js/bootstrap.js"></script> <!-- 헤더 열리게 -->

</head>

<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block> <!-- 헤더 연동 -->
	<style type="text/css">

.jumbotron {

    	text-shadow: black 0.2em 0.2em 0.2em;
    	color: white;
    }
</style>


<div class="container">
	<div class="jumbotron" style="background-image: url('https://unity.com/sites/default/files/styles/cards_16_9/public/2019-11/fps-microgame.jpg?itok=DdgnGV1q'); text-shadow: black 0.2em 0.2em 0.2em; color: white;">
		<h1 class="text-center">프리랜서 마켓 추몽입니다.</h1>
		<p class="text-center">프리랜서 마켓 추몽에서 원하는 전문가를 찾아보세요!</p>
		<p class="text-center"><a class="btn btn-primary btn-lg" href="Clist" role="button">추몽 시작하기</a></p>
		<div th:if="${session.loginType} == 'ADMIN'">
		<p class="text-center"><a class="btn btn-primary btn-lg" href="adminPage" role="button">관리자 페이지로 이동</a></p>
			</div>
	</div>
</div>


<div class="row">
			<div class="col-md-4">
				<h4>추몽의 특징</h4>
				<p>추몽은 IT·디자인 등 다양한 카테고리의
					전문성을 상품화하여 거래할 수 있는 마켓입니다.</p>
				<p>
					<a class="btn btn-default" data-target="#modal" data-toggle="modal">자세히
						알아보기</a>
				</p>
			</div>
			<div class="col-md-4">
				<h4>폭넓은 카테고리</h4>
				<p>추몽은 정말 뛰어난 전문가만을 뽑습니다. 각 분야의 전문가들은 드로잉, 언어, 프로그래밍 등
				 다양한 방면에서 활동하고 있습니다.</p>
				<p>
					<a class="btn btn-default" href="instructor">자세히 알아보기</a>
				</p>
			</div>
			<div class="col-md-4">
				<h4>안전한 거래 시스템</h4>
				<p>추몽을 통해 결제하면 거래 완료시까지
					결제 대금을 안전하게 보호받을 수 있습니다.</p>
				<p>
					<a class="btn btn-default" href="lecture">자세히 알아보기</a>
				</p>
			</div>
		</div>
		</div>
		<hr>


		<h2><b>&nbsp;&nbsp;최신 서비스</b></h2>
		<div class = "container">
<tr th:each="item: ${itemList}">
		<div class = "card" style="cursor: pointer;">
			<a th:href="@{|itemDtl/${item.id}|}">
			<div class="card-itemimage">
				<img th:src="${item.itemImage1}" alt="item image" style="width: 300px; height: 230px; border-top-left-radius: 15px; border-top-right-radius: 15px;">
			</div>
		<div class = "card-text">
		<span class="badge" th:text="${item.itemCategory1}"></span> <span class="badge" th:text="${item.itemCategory2}"></span> <span class="badge" th:text="${item.itemCategory3}"></span>
			<h3 class="card-Name" th:text="${item.itemName}"></h3>
			<p class="card-Content1" th:text="${item.itemContent1}"></p>
		</div>
		<div class = "card-stats"></div>
			</a>
		</div>
		</div>
</tr>

	<hr>
		<h2><b>&nbsp;&nbsp;인기 서비스</b></h2>
		<div class = "container">
		<div class = "card">
		<div class = "card-imagebin"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">드로잉</span> <span class="badge">일러스트</span>
		<h3>기초 도형으로 쉽게 접근하는 드로잉</h3>
		<p>기초 도형으로 인체 드로잉의 깊이감을 이해한 후, 쪼개고 변형하는
과정을 통해 그림의 입체감과 깊이감을 살리는 법을 알려드리겠습니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		<div class = "card">
		<div class = "card-imagehan"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">음악</span> <span class="badge">악기연주</span>
		<h3>피아노 초보, 혼자서도 도전 할 수 있습니다.</h3>
		<p>20년 경력으로 피아노 입문시부터 필요한 연습곡과 연주시 필요한
		손목 사용꿀팁, 간단한 이론으로 실전에 강력한 연주방법을 알려드리겠습니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		<div class = "card">
		<div class = "card-imageyun"></div>
		<div class = "card-text">
		<span class="badge">강의/교육</span> <span class="badge">스포츠</span> <span class="badge">태권도</span>
		<h3>태권도 AZ까지 알려드립니다. 초보자 대환영 드립니다.</h3>
		<p>여러 운동을 해봤지만 아직 자신과의 싸움에서 승리의 깃발을 들지 못하신분?
		꼭 도전해보시기 바랍니다.</p>
		</div>
		<div class = "card-stats"></div>
		</div>
		</div>

		<hr>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>
</html>