<!DOCTYPE html>
<html xmlns:th="http://www.thynmeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <title>추몽</title>
    <link rel="stylesheet" href="/static/css/myPage.css">
    <link rel="stylesheet" href="/static/css/myPage_like.css">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <!-- 'header.html' 과 'footer.html' 불러오는 script-->
    <script>
        window.addEventListener('load', function() {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function(el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        });






    </script>
</head>

<body>
<div data-include-path="header.html"></div>

<main class="myPage_theme">
    <div class="myPage_all">
        <div class="myPage_left">
            <div class="myPage_left_profile">
                <div>
                    <img src="static/image/icecream00.jpeg" alt="" class="myPage_left_Image">
                </div>
                <div class="myPage_left_board1">
                    <h3>초코</h3>
                    <a href="#">
                        <img src="/static/image/cogwheel.png" alt="" class="myPage_left_cogwheel">
                    </a>
                </div>
                <button class="expert_change_btn" onclick="location.href='seller_orderList.html'">전문가 전환</button>

                <hr>
                <button class="myPage_menuButton" onclick="location.href='myPage_orderList.html'">구매 관리</button>
                <br>
                <button class="myPage_menuButton" onclick="location.href='myPage_charges.html'">거래 내역</button>
                <br>
                <button class="myPage_menuButton" onclick="location.href='myPage_cash.html'">마이 캐시</button>
                <br>
                <button class="myPage_menuButtonClick" onclick="location.href='myPage_like.html'">찜</button>
            </div>
        </div>

        <div class="myPage_right">
            <div class="mypage_091021">찜</div>
            <div class="myPage_right_orderlist1">
                <div>
                    <input type="search" class="orderlist_091018">
                    <button class="mypage_090958" style="width:100px">조회</button>
                </div>
                <div>
                    <input type="date">
                    ~
                    <input type="date">
                </div>
            </div>
            <div class="like_091640" style="margin-top:50px">
                <input type="radio" name="tabs" id="tab1" checked>
                <label for="tab1">전체</label>

                <div id="content1" class="tab-content red">
                    <div class="orderList_1">
                        <div class="orderList_1_1">
                            <div>
                                <span style="font-size: 12px">주문일시</span>
                                <span style="font-size: 12px"><strong>23.03.08 17:25</strong></span>
                                <a href="#">&nbsp;&nbsp;X</a>
                            </div>
                        </div>
                        <a href="#">
                            <div class="orderList_1_2" style="margin-top:20px">
                                <img src="/static/image/sad.jpeg" alt="" class="orderList_img">
                                <div class="orderList_1_2_1">
                                    <dl>
                                        <dd>쇼핑몰 로고, 브랜딩, 상세페이지 제작</dd>
                                        <dd><strong>35,000원</strong></dd>
                                        <div class="between">
                                            <dd style="margin-right: 20px; margin-top: 5px; font-size: 12px">행복한전문가</dd>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div data-include-path="footer.html"></div>
</body>
</html>