<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" , initial-scale="1">
	<title>추몽</title>
	<link rel="stylesheet" href=" /css/order.css">
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src=" /js/bootstrap.js"></script>


</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<div class="order_theme">
	<div class="grid_small">
		<div class="board_header">
			<div class="board_header_h">
					<h3>1. 결제하기</h3>
			</div>
			<div class="board_header_h">
				<h3>2. 결제 확인</h3>
			</div>
		</div>
			<div class="board_body">
				<div class="board_block">
					<h3>상품 정보</h3>
						<div class="board_block_item">
							<span>상품명</span>
							<p th:text = "${item.itemName}"></p>
						</div>
						<hr>
					<div class="board_block_item">
						<span>이름</span>
						<p th:text = "${session.loginName}"></p>
					</div>
						<div class="board_block_item">
							<span>이메일</span>
							<p th:text = "${session.loginEmail}"></p>
						</div>
						<div class="board_block_item">
							<span>전화번호</span>
							<p>01012345678</p>
						</div>
				</div>
				<div class="board_block">
					<h3>결제 정보</h3>
					<div class="board_block_item">
						<span>판매가</span>
						<p th:text = "${item.itemPrice}"></p>
					</div>
					<hr>
					<div class="board_block_item2">
						<span>결제 금액</span>
						<p th:text = "${item.itemPrice} + '원'"></p>
					</div>
					<div class="board_block_item2">
						<span>결제 수단</span>
						<p>국민 567690736323</p>
					</div>
					<div class="board_block_item2">
						<span>입금 기한</span>
						<p>2023.03.10 15:56</p>
					</div>
				</div>
				<session>
					<button class="btn_purchase_submit" onclick="location.href='myPage_charges'">결제 내역 확인</button>
				</session>
			</div>
		</div>
	</div>
</div>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>