<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <title>추몽</title>
    <link rel="stylesheet" href=" /css/myPage.css">
    <link rel="stylesheet" href=" /css/seller_revenue.css">
    <link rel="stylesheet" href=" /css/seller.css">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src=" /js/bootstrap.js"></script>

</head>

<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<main class="myPage_theme">
    <div class="myPage_all">
        <div class="myPage_left">
            <div class="myPage_left_profile">
                <div>
                    <img src=" /image/duck00.jpeg" alt="" class="myPage_left_Image">
                </div>
                <div class="myPage_left_board1">
                    <h3>러버덕</h3>
                    <a href="#">
                        <img src=" /image/cogwheel.png" alt="" class="myPage_left_cogwheel">
                    </a>
                </div>
                <button class="expert_change_btn" onclick="location.href='myPage_orderList'">의뢰인 전환</button>

                <hr>
                <button class="myPage_menuButton" onclick="location.href='seller_orderList'">판매 관리</button>
                <br>
                <button class="myPage_menuButton" onclick="location.href='seller_myService'">나의 서비스</button>
                <br>
                <button class="myPage_menuButtonClick" onclick="location.href='seller_revenue'">수익 관리</button>
                <br>
            </div>
        </div>

        <div class="myPage_right">
            <div class="mypage_091021">수익 관리</div>
            <div class="cash_091529">
                <div>
                    <span>출금 가능</span><br>
                    <div class="cash_091557">
                        <span>2,200,000</span>
                    </div>
                </div>
                <div>
                    <button>출금하기</button>
                </div>
            </div>
            <div class="charges_091041">
                <div>
                    <input type="date">
                    <span>~</span>
                    <input type="date" class="marginright">
                </div>
                <select class="marginright" style="width:100px; height:28px">
                    <option>5개</option>
                    <option>15개</option>
                    <option>30개</option>
                </select>
                <button class="mypage_090958" style="width: 100px">조회</button>
            </div>
            <div class="cash_091444">
                <input type="radio" name="tabs" id="tab1" checked>
                <label for="tab1">수익금 내역</label>
                <input type="radio" name="tabs" id="tab2">
                <label for="tab2">출금 내역</label>

                <div id="content1" class="cash_091504">
                    <div class="cash_091457">
                        <table>
                            <thead>
                            <td>번호</td>
                            <td>날짜</td>
                            <td>판매물품</td>
                            <td>판매금액</td>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>2023.04.13</td>
                                <td>빈츠</td>
                                <td>12,000</td>
                            </tr>
                            <tr style="font-weight: bold">
                                <td>총합</td>
                                <td></td>
                                <td></td>
                                <td>12,900</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="content2" class="cash_091504">
                    <div class="cash_091457">
                        <table>
                            <thead>
                            <td>번호</td>
                            <td>날짜</td>
                            <td>출금금액</td>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>2023.04.13</td>
                                <td>59,900</td>
                            </tr>
                            <tr style="font-weight: bold">
                                <td>총합</td>
                                <td></td>
                                <td>50,000</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</main>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>