<!doctype html>
<html xmlns:th="http://www.thynmeleaf.org">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style lang="css">
input[type='checkbox'] {
   display: none;
}

input[type='checkbox']+label {
   cursor: pointer;
   line-height: 20px;
   vertical-align: middle;
}

input[type='checkbox']+label>span {
   padding-left: 10px
}

/* label:before에 체크하기 전 상태 CSS */
input[type='checkbox']+label:before {
   content: '';
   display: inline-block;
   width: 20px;
   height: 20px;
   border: 2px solid green;
   border-radius: 50%;
   vertical-align: middle;
}

/* label:before에 체크 된 상태 CSS */
input[type='checkbox']:checked+label:before {
   content: '\2713';
   color: white;
   background-color: green;
   border-color: green;
   background-repeat: no-repeat;
   background-position: 50%;
   line-height: 20px;
   text-align: center;
   font-weight: bold;
}

.text-red {
   color: red;
}
</style>

  <title>추몽 회원가입 페이지</title>

  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet "
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
<body>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<div class="row justify-content-center ">
  <img src="resources/img/choo.png" height="100"
       class=" col-auto py-2 class mx-auto" />
</div>
<div class="card-body p-3  class mx-auto col-8 py-2 class mx-auto"
     style="max-width: 720px; border: 1px solid #ddd;">
  <h3 class="col-8 py-2 class mx-auto mt-5">
    <strong>딱 이것만 체크하면 가입완료!</strong>
  </h3>


  <div>

    <div class="col-11.5 mx-3 my-3">
      <h5>
        <strong> <label for="email" class="form-label">이메일
          <span class="text-muted">(E-mail)</span>
        </label></strong>
      </h5>
      <input type="email" class="form-control" id="email"
             placeholder="이메일@naver.com">
      <div class="invalid-feedback">Please enter a valid email
        address for shipping updates.</div>
    </div>
  </div>

  <div class="mx-3 my-3">
    <div>
      <h5>
        <strong> <label for="firstName" class="form-label ">비밀번호</label></strong>
      </h5>
      <input type="text" class="form-control" id="firstName"
             placeholder="비밀번호를 입력해 주세요." value="" required="">
      <div class="invalid-feedback">Valid first name is required.</div>
    </div>
  </div>


  <div class=" mx-3 my-3">
    <h5>
      <strong> <label for="lastName" class="form-label">비밀번호
        확인</label></strong>
    </h5>
    <input type="text" class="form-control mx-1" id="lastName"
           placeholder="비밀번호를 한번더 입력해주세요." value="" required="">
    <div class="invalid-feedback ">Valid last name is required.</div>

  </div>


  <div class="col-11.5 mx-3 my-5">
    <h5>
      <strong> <label for="job" class="form-label">직업</label></strong>
    </h5>
    <select class="form-select" id="job" required="">
      <option value="">직업을 선택해 주세요.</option>
      <option>프리랜서</option>
      <option>직장인</option>
      <option>소상공인</option>
      <option>스타트업 창업자</option>
      <option>대학(원)생</option>
      <option>취업준비생</option>
    </select>
    <div class="invalid-feedback">직업을 선택 바랍니다.</div>
  </div>

  <div class="col-11.5 mx-3 my-3">
    <h5>
      <strong> <label for="state" class="form-label">비즈니스
        분야</label></strong>
    </h5>
    <select class="form-select" id="state" required="">
      <option value="">비즈니스 분야를 선택해주세요.</option>
      <option value="">직업을 선택해 주세요.</option>
      <option>쇼핑몰</option>
      <option>마케팅/광고 에이전시</option>
      <option>음식·주점</option>
      <option>IT 개발</option>
      <option>콘텐츠</option>
      <option>제조업</option>
      <option>뷰티·미용</option>
      <option>병의원·제약</option>
      <option>금융·보험</option>
      <option>학원·교육</option>
      <option>여행·숙박</option>
      <option>부동산·분양</option>
      <option>기타</option>
    </select>
    <div class="invalid-feedback">비즈니스 분야를 선택 바랍니다.</div>
  </div>


  <div class="col-11.5 mx-3 my-3">
    <h5>
      <strong> <label for="state" class="form-label" multiple
                      aria-label="multiple select example">관심사 선택(중복 선택 가능)</label></strong>
    </h5>
    <select class="form-select" id="state" required="">
      <option value="">비즈니스 분야를 선택해주세요.</option>
      <option value="">직업을 선택해 주세요.</option>
      <option>쇼핑몰</option>
      <option>마케팅/광고 에이전시</option>
      <option>음식·주점</option>
      <option>IT 개발</option>
      <option>콘텐츠</option>
      <option>제조업</option>
      <option>뷰티·미용</option>
      <option>병의원·제약</option>
      <option>금융·보험</option>
      <option>학원·교육</option>
      <option>여행·숙박</option>
      <option>부동산·분양</option>
      <option>기타</option>
    </select>
    <div class="invalid-feedback">비즈니스 분야를 선택 바랍니다.</div>
  </div>
  <div class=" card-body col-11.5 mx-3 my-3"
       style="max-width: 720px; border: 1px solid #ddd;">
    <div class="row m-none items-center">
      <input type="checkbox" id="isAgree1" /> <label for="isAgree1">
      <span>만 14세 이상입니다.</span> <span class="text-red">(필수)</span>
    </label>
    </div>

    <div class="row m-none items-center">
      <input type="checkbox" id="isAgree2" /> <label for="isAgree2">
               <span>서비스 이용약관에 동의 합니다. <span class="text-red">(필수)</span>
            </span>
    </label>
    </div>

    <div class="row m-none items-center">
      <input type="checkbox" id="isAgree3" /> <label for="isAgree3">
               <span>개인정보 수집/이용에 동의합니다. <span class="text-red">(필수)</span>
            </span>
    </label>
    </div>

    <div class="row m-none items-center">
      <input type="checkbox" id="isAgree4" /> <label for="isAgree4">
               <span>개인정보 제3자 제공에 동의합니다. <span class="text-red">(필수)</span>
            </span>
    </label>
    </div>

    <div class="row m-none items-center">
      <input type="checkbox" id="isAgree5" /> <label for="isAgree5">
               <span>장기 미접속 시 계정 활성 상태 유지합니다. <span class="text-green">(선택)</span>
            </span>
    </label>
    </div>

    <div class="row m-none items-center">
      <input type="checkbox" id="isAgree6" /> <label for="isAgree6">
               <span>이벤트 할인 혜택 알림 수신에 동의합니다. <span class="text-green">(선택)</span>
            </span>
    </label>
    </div>
  </div>

  <div class="text-center mt-5">
    <button type="button" onclick="location.href='Proseller.html'"
            class="btn col-8 py-2 btn-warning">버튼만 누르면 가입완료!</button>
  </div>
</div>
<div class="p-auto  text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 " >
  추몽은 회원님의 원활한 서비스 이용에 필요한 정보를
  적절한 전자적 수단을 통해 제공하고 있습니다.
</div>


</body>
</html>