<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <title>추몽</title>
    <link rel="stylesheet" href=" /css/bootstrap.css">
    <link rel="stylesheet" href=" /css/codingBooster.css">
    <link rel="stylesheet" href=" /css/list.css">
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>

</head>

<body>
<style type="text/css">
.jumbotron {
	background-image: url('../image/');
	text-shadow: black 0.2em 0.2em 0.2em;
	color: white;
}



</style>
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<!--  헤더 끝 -->

<div class="item_list">
    <div class="container">
        <h1><b th:text="${keyword} + ' 검색결과입니다.'"></b></h1>
        <tr th:each="item: ${items}">
            <div class="mcard" style="cursor: pointer;">
                <a th:href="@{|itemDtl/${item.id}|}">
                    <div class="mcard-itemimage">
                        <img th:src="${item.itemImage1}" alt="item image"
                             style="width: 250px; height: 160px; border-top-left-radius: 7px; border-top-right-radius: 7px;">
                    </div>
                    <div class="mcard-text">
                        <h4 class="card-Name" th:text="${item.itemName}"></h4>
                        <h3 class="card-Price" th:text="${item.itemPrice} + '원+'" style="font-weight:bold;"></h3>
                    </div>
                    <div class="mcard-stats"></div>
                </a>
            </div>
        </tr>
    </div>
</div>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>