<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" , initial-scale="1">
<title>추몽</title>
<link rel="stylesheet" href=" /css/bootstrap.css">
<link rel="stylesheet" href=" /css/codingBooster.css">
<link rel="stylesheet" href=" /css/list.css">

</head>

<body>
<style type="text/css">
.jumbotron {
	background-image: url('../image/');
	text-shadow: black 0.2em 0.2em 0.2em;
	color: white;
}
</style>
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<!--  헤더 끝 -->
<h1><b> "검색 단어" 검색결과입니다. </b></h1>
	<div class = "item_list">
	<div class = "container">
	
	<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
		<div class = "mcard" style="cursor: pointer;" onclick="location.href='instructor'">
		<div class = "mcard-imagebin"></div>
		<div class = "mcard-text">
		<h4>기초 도형으로 쉽게 접근하는 드로잉</h4>
		<p>일러스트 작가 그림그림</p>
		</div>
		<div class = "mcard-stats"></div>
		</div>
		
	
	</div>
	</div>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>