.image {
    width: 230px;
    height: 180px;
    border:1px solid lightgray;
    border-radius: 1rem;
    cursor : pointer;
    margin-right: 15px;
}

.itemform_211302 {
    position: relative;
    margin: auto;
    width: 850px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.itemform_211306 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 96px;
    padding: 36px 0 36px 24px;
}

span {
 font-weight:bold;
}

.itemform_211316 {
    border-radius: 6px;
    border: solid 1px lightgray;
    padding: 4px 8px 4px 16px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    margin-bottom: 10px;
}

.keytitle {
    display: flex;
    min-width: 112px;
    flex: none;
    padding: 7px;
    vertical-align: middle;
}

.itemform_211316 input {
    width:84%; border:none
}

.itemform_211450 {
    font-weight: 800;
    font-size: 16px;
    margin-bottom:7px;
    margin-top:15px;
}

.savebutton {
    width:150px;
    height:40px;
    margin-left:650px;
    background:#AEDDA1;
    border-radius: 1rem;
    border:none;
    font-weight: bold;
    font-size: 16px;
}