.list_intro {
	background: black;
	padding-top:50px;
	padding-bottom:50px;
	color: white;
}

.list_intro .container {
	max-width: 1000px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list_intro .container .list_intro_left h2 {
	font-size: 12px;
	opacity: .6;
	letter-spacing: 0.2em;
}

.list_intro .container .list_intro_left h1 {
	margin-top: 0;
	font-size: 36px;
	letter-spacing: 0.1em;
}

.list_intro .container .list_intro_left p {
	font-size: 12px;
	letter-spacing: 0.2em;
	opacity: .8;
	word-wrap: break-word;
	word-break: keep-all;
}

.list_intro .container .list_intro_right{
	flex:1;
	text-align: center;
}

.list_intro .container .list_intro_right button{
	background: white;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px 15px;
	font-size: 14px;
	transition: .5s ease;
}

.list_intro .container .list_intro_right button:hover{
	transition: .5s ease;
	border: 2px solid white;
	background: black;
	color: white;
}

.serv_list {
	padding-top:70px;
	padding-bottom: 70px;
}

.serv_list .container {
	max-width: 1100px;
	margin:auto;
}

.serv_list .container .title ul {
	padding-left: 0;
	list-style: none; /* ul안의 li의 점을 없애줌 */
}

.serv_list .container .title ul li {
	display: inline; /* ul의 li를 가로 정렬 */
	margin-right: 30px;
}

.serv_list .container .title ul li a {
	text-decoration: none;
	color: #444;
}

.serv_list .container .item_list {
	display: flex;
	flex-wrap: wrap; /* 상위 요소보다 하위요소가 더 크면 줄바꿈 */
	justify-content: space-between;
}

/* .serv_list .container .item_list .mcard {
	border: 1px solid #eee;
	border-radius: 5px;
	height: 350px;
	width: 250px;
	padding: 5px;
	margin-bottom: 10px;
}

.serv_list .container .item_list .mcard img{
	height: 200px;
	width: 250px;
}

.serv_list .container .item_list .mcard .text p {
	font-size: 14px;
	opacity: .8;
}

.serv_list .container .item_list .mcard .text button {
	background: black;
	color: white;
	border: 2px solid white; 
	border-radius: 5px; 
	padding: 5px 10px;
	font-size: 10px;
	transition: .5s ease;
	}

	.serv_list .container .item_list .mcard .text button:hover {
	transition: .5s ease;
	border: 2px solid black;
	background: transparent;
	color: black;
	} */
	.mcard {
	float: left;
	margin-left:20px;
	margin-right:15px;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: 155px 95px 30px;
	grid-template-areas: "image" "text" "stats";
	
	font-family: roboto;
	border-radius: 9px;
	background: white;
	box-shadow: 2px 2px 7px rgba(0,0,0,0.9);
	text-align: center;
	
	transition: 0.5s ease;
	cursor: pointer;
	}
	
	.mcard-imageyun {
	grid-area: image;
    background: url("https://www.shutterstock.com/image-photo/portrait-handsome-asian-man-kick-260nw-549723892.jpg");
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-size: cover;
	}
	
	.mcard-imagebin {
	grid-area: image;
    background: url("https://image.idus.com/image/files/56d98c69a2e6439bacf8403226640fd0.jpg");
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-size: cover;
	}
	
	.mcard-imagehan {
	grid-area: image;
    background: url("https://www.lego.com/cdn/cs/set/assets/blt20c84b1ff55e3256/21323.jpg?fit=bounds&format=jpg&quality=80&width=1500&height=1500&dpr=1");
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-size: cover;
	}
	.mcard-text {
	grid-area: text;
	margin: 12px;
	}
	.mcard-text .date {
	color: rgb(255,7,110);
	font-size: 6px;
	}
	.mcard-text p {
	color: grey;
	font-size: 14px;
	font-weight: 150;
	}
	.mcard-text h2 {
	margin-top: 0px;
	font-size: 14px;
	}
	
	.mcard-stats {
	grid-area: stats;
	}
	.mcard:hover {
	transform: scale(1.05);
	box-shadow: 2px 2px 7px rgba(0,0,0,0.6);
	}