* {
    box-sizing: border-box;
}

.myPage_theme {
    background: #fff;
}

.myPage_all {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
}

.myPage_left {
    min-width: 20%;
}

.myPage_right {
    margin-left: 3%;
    min-width: 80%;
}

.myPage_left_Image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.myPage_left_cogwheel {
    width: 15px;
    height: 15px;
}

.myPage_left_profile {
    text-align: center;
}

img {
    border-style: none;
}

.myPage_left_board1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPage_left_board1 h3 {
    margin-right: 10px;
}

.expert_change_btn {
    padding: 5%;
    align-items: center;
    width: 100%;
    background: #1C5B0B;
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1.6rem;
    border-radius: 1rem;
    border:0px;
    color: #fff;
}

.myPage_menuButton {
    padding: 2%;
    margin-bottom: 3%;
    align-items: center;
    width: 100%;
    background: #AEDDA1;
    border-radius: 1rem;
    font-weight: 700;
    border:0px;
}

/* 1. tab 영역 css 설정 */
.tab-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}


/* 2. tab 메뉴 부분 디자인 */
.tab-area input {
  display: none;
}

.tab-area label {
  margin-left: auto;
  margin-right: auto;
}

/* label에 마우스 올렸을 때 */
.tab-area label:hover {
  cursor: pointer; /*마우스 모양 변경*/
}

/* tab-area 안에 존재하는 input 태그가 체크되었을 때,
체크된 input 태그 다음에 등장하는 label의 css 값 */
.tab-area input:checked + label {
  /* 해당 메뉴가 선택된 상태인지 아닌지를 사용자에게 알려줄 수 있음 */
  font-weight: bold;
  color: orange;
}


/* 3. tab 내용 부분 디자인 */
.tab-content {
  width: 100%; /*부모 div width와 같은 width를 가진다.*/
  height: 100%;
  display: none; /*기본 값일땐 화면에 표시하지 않음. 체크 상태일 때, 화면에 표시되어야 함 */
  border:1px solid lightgray;
  border-top: 2px solid rgba(200, 200, 200, 0.534);/*탭 메뉴와 내용구분선*/
  min-height:500px;
  border-radius: 1rem;
  margin-top: 10px;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
}


/* input 태그가 체크 상태일떼, 이에 대응하는 content?를 display에 표시하도록 설정 */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: flex;
}

.myPage_right {

}

.myPage_right_orderlist1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}