.orderList_img {
    width: 100px;
    height: 80px;
    border-radius: 1.2rem;
    border:1px solid lightgray;
    margin-right: 15px;
    margin-top: 5px;
}

.orderList_1 {
    border:1px solid lightgray;
    padding: 1.6rem;
    border-radius: 1rem;
    width: 100%;
    height: 180px;
}

.orderList_1_1 {
    display: flex;
    justify-content: space-between;
}

.orderList_1_2 {리
    display: flex;
}

.orderList_1_2_1 {
    display: block;
}

.orderList_081751 {
    justify-content: space-between;
}

.between {
    display: flex;
}

.orderlist_090946 {
    display: flex;
    justify-content: space-between;
    background: #F2F2F2;
}

.orderlist_091001 {
    align-items: center;
    width: 8rem;
    height: 2.5rem;
}

.orderlist_091018 {
    border-radius: 1rem;
    width: 200px;
}

.cash_091444 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}


/* 2. tab 메뉴 부분 디자인 */
.cash_091444 input {
  display: none;
}

.cash_091444 label {
    margin-left: 50px;
}

/* label에 마우스 올렸을 때 */
.cash_091444 label:hover {
  cursor: pointer; /*마우스 모양 변경*/
}

/* tab-area 안에 존재하는 input 태그가 체크되었을 때,
체크된 input 태그 다음에 등장하는 label의 css 값 */
.cash_091444 input:checked + label {
  /* 해당 메뉴가 선택된 상태인지 아닌지를 사용자에게 알려줄 수 있음 */
    font-weight: bold;
    color: orange;
}

.cash_091444 label {
  font-size: 16px;
}

/* 3. tab 내용 부분 디자인 */
.cash_091504 {
  width: 100%; /*부모 div width와 같은 width를 가진다.*/
  display: none; /*기본 값일땐 화면에 표시하지 않음. 체크 상태일 때, 화면에 표시되어야 함 */
  border:1px solid lightgray;
  border-top: 2px solid rgba(200, 200, 200, 0.534);/*탭 메뉴와 내용구분선*/
  border-radius: 1rem;
  margin-top: 10px;
  padding: 1.6rem;
}


/* input 태그가 체크 상태일떼, 이에 대응하는 content?를 display에 표시하도록 설정 */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: flex;
}

.cash_091457 {
    width: 100%;
    text-align: center;


}

.cash_091457 tr {
    height: 40px;
}

table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    border-left: 0;
}

thead {
    font-weight: bold;
}

.cash_091529 {
    width: 100%;
    height: 30%;
    border:1px solid lightgray;
    border-radius: 1rem;
    display: flex;
    align-items : center;
    background: #AEDDA1;
    justify-content: center;
    margin-top: 15px;
}
.cash_091529 div {
    padding: 1.6rem;
    width: 50%;
    text-align: center;
    justify-content: center;
}
.cash_091529 span {
    font-weight: bold;
    font-size: 16px;
}

.cash_091529 button {
    font-weight: bold;
    font-size: 20px;
    background: #1C5B0B;
    border: 0;
    color: #fff;
    width: 125px;매
    height: 62px;
    border-radius: 1rem;
}

.cash_091557 {
    padding: 1rem;
    border-radius: 1.6rem;
    width: 150px;
    height: 55px;
    background: #fff;
    margin: auto;
    text-align: center;
    align-items: center;
}

.charges_091041 {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.marginright {
    margin-right: 7px;
}

.expert_change_btn {
    padding: 5%;
    align-items: center;
    width: 100%;
    background: #1C5B0B;
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1.6rem;
    border-radius: 1rem;
    border:0px;
    color: #fff;
}
